:root {
   /* colores */ 
    --blanco: hsl(0, 0%, 98%);
    --gris: hsl(0, 0%, 41%);
    --negro: hsl(0, 0%, 8%);
  


  
   /* Tipografías */ 

    --font-family: 'Epilogue', sans-serif;
    --medium: 500; 
    --bold: 700
    --pgraph-size: 1.8rem;

  /* Tamaños */ 
  
  --mobile-width: 375px;
  --desktop-width: 1440; 

}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-family);
}

p {
  font-size: 1.8rem;
}



